*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    min-height: 100vh;
    background-color: rgb(22, 154, 243);
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculadora{
    background-color: rgb(54, 54, 54);
    color: rgb(22, 154, 243);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 400px;
    padding: 1rem;
    border-radius: 1rem;
    gap: 1rem;
}
.pantalla{
grid-column: 1/5;
background-color: rgb(173, 173, 173);
padding: 1rem;
font-size: 3rem;
text-align: right;
border-radius: 0.5rem;
font-weight: 600;
margin-bottom: 0.5rem;
}
.boton{
    background-color: rgb(0, 0, 0);
    color: rgb(22, 154, 243);
    border: 0;
    padding: 1rem;
    font-size: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .8rem;
    cursor: pointer;
}
.boton:hover{
    background-color: rgb(139, 139, 139);
}
#cero{
    grid-column: span 2;
}
#igual{
    grid-row: span 2;
    background-color: rgb(22, 154, 243);
    color: rgb(0, 0, 0);
}
#igual:hover{
    background-color: rgb(255, 255, 255);
}
#limpiar{
    background-color: rgb(88, 87, 87);
}
#limpiar:hover{
    background-color: rgb(255, 255, 255);
}
#borrar{
    background-color: rgb(255, 255, 255);
}
#borrar:hover{
    background-color: rgb(88, 87, 87);
}